#fp-nav ul li a.active span {
    background: #009CE9;
}
@media screen and (max-width: 480px) {
    #fp-nav ul li a.active span {
        background: grey;
    }
    #fp-nav ul li a span {
        background: #fff;
    }
}
@media screen and (min-width: 481px){
    #fp-nav {
        display: none;
    }
}